.card-header-basis {
    position: relative;
    height: 256px;
    cursor: pointer;
    color: #ffffff;
    overflow: hidden;//去除超出邊界的模糊效果
    &:hover {
        color: $success;
        font-weight: bold;
    }
    @media (max-width: 767px) {
        height: 180px;
    }
}



// 背景模糊
.card-header-bg-A,
.card-header-bg-B,
.card-header-bg-C {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.card-header-bg-A {
    background: url(https://images.unsplash.com/photo-1490914327627-9fe8d52f4d90?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=73ed228f25bdefd2291c242f6d390fca&auto=format&fit=crop&w=600&q=60);
    background-size: cover;
    background-position: center;
    filter: blur(5px);
}
.card-header-bg-B {
    background: url(https://images.unsplash.com/photo-1504114133367-631ecd3db3ca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b75e93d90cd88467ae5715becb431a26&auto=format&fit=crop&w=600&q=60);
    background-size: cover;
    background-position: center;
    filter: blur(5px);
}
.card-header-bg-C {
    background: url(https://images.unsplash.com/photo-1499638472904-ea5c6178a300?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c27da96f7150c96a92ba8a53c8644761&auto=format&fit=crop&w=600&q=60);
    background-size: cover;
    background-position: center;
    transform: rotate(180deg);
    filter: blur(5px);
}

// 顏色模糊
.card-header-bg-glass {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all 0.5s;
    background-color: rgba(63, 93, 69, 0.8);
    &:hover {
        background-color: rgba(255, 225, 128, 0.8);
    }
}

// 文字部分
.card-header-text-p {
    font-size: 24px;
    width: 24px;
    z-index: 10;
    @media (max-width: 767px) {
        font-size: 20px;
        width: 20px;
    }
}
